.search_word_list
  width: 40%
  padding: 20px
  border-right: 1px solid #E6E3E3

.list
  width: 100%
  list-style-type: none
  padding: 2% 0

  h1
    font-size: 1em
    color: #333
    cursor: pointer
    font-weight: 300

.list:hover
  background: #F5F2F2


@media screen and (max-width: 586px)
  .list
    margin-bottom: 3%
