.product_list_container
  width: 100%
  height: 100%

  li
    display: flex
    flex-flow: row nowrap
    margin-bottom: 4%
    width: 100%
    height: 100%

    .list_img
      width: 40%
      height: 240px

    .product_details
      background: #FCFBFB
      position: relative
      width: 60%
      height: 240px
      padding-left: 5%

      h1
        font-size: 1.4em
        color: #656363
        margin-top: 6%
      h2
        font-size: .9em
        margin-bottom: 5%
        color: #272626
      h3
        font-size: 2em
      h4
        color: #272626
        margin-bottom: 10%

      a
        text-decoration: none
        color: #FFF
        font-size: 1.2em
        background: #3890CC
        padding: 15px 35px
        border-radius: 5px


@media screen and (max-width: 448px)

  .product_list
    width: 90%

    li
      height: 80%
      margin-bottom: 10%

      h1
        font-size: 1.2em

      h3
        font-size: 1.4em

      h4
        font-size: .9em

      a
        font-size: .9em
        padding: 5px 15px
