*
  margin: 0
  padding: 0
  box-sizing: border-box

.search_container
  display: flex
  position: relative
  width: 65%
  margin: 0 auto
  height: 300px
  background: #FCF9F9

.search_product_list
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  list-style-type: none
  width: 60%
  height: 100%
