*
  box-sizing: border-box

.searchBar
  width: 100%
  height: 40px
  margin-top: 50px
  margin-bottom: 30px
  // border: 1px solid #000
  display: flex
  position: relative

  input
    display: block
    width: 65%
    height: 100%
    margin: 0 auto
    padding: 5px 10px
    font-size: 1.4em

  button
    display: block
    position: absolute
    height: 100%
    width: 60px
    right: 14%
    background: #00adef
    font-size: .6em
    text-transform: uppercase
    color: #FFF
    border: none
    border-radius: 3px
    cursor: pointer
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)

@media screen and (max-width: 586px)

  input
    font-size: .9em
