.search_product_link
  width: 33%
  height: 100%
  color: #000
  text-decoration: none
  padding-left: 10px
  padding-top: 20px

  .search_product_container
    width: 100%
    height: 100%

    .search_product_single
      width: 100%
      height: 100%
      padding: 0 5px

      .search_img
        width: 100%
        height: 130px
        margin-bottom: 5%

      .search_detail
        width: 100%
        text-align: center

        h1
          font-size: 1em
          font-weight: 400
          color: #767574
          margin-bottom: 3%

        h2
          font-size: .9em
          margin-bottom: 3%

        .search_price
          font-size: 1.3em

        h3
          font-size: .9em
          margin-bottom: 3%

$tablet: 1000px
$tablet-small: 752px

@media screen and (max-width: 1000px)

  .search_img
    width: 70%
    height: 60px

  .search_detail
    font-size: .8em

@media screen and (max-width: 586px)

  .search_container
    flex-flow: column

    .search_word_list
      width: 100%

    .search_product_list
      flex-flow: column
      width: 100%

      .search_product_link
        display: block
        width: 80%
        height: 300px

        .search_detail
          font-size: 1em
